$forKResolution:    3840px;
$ultrahd:           2560px;
$laptop1600:        1600px;
$laptopL:           1440px;
$laptop:            1024px;
$tablet-bp:         768px;
$mobileL:           425px;
$small-mobile-bp:   450px;
$micro-mobile:      320px;
